{% set TASK_TYPES = ["Draft", "Blocked", "Available", "Claimed", "Done", "In Review"] %}
<div class="relative overflow-x-auto sm:overflow-x-visible">
    <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="px-2 py-3">
                    Bounty
                </th>
                <th scope="col" class="px-2 py-3">
                    Skill
                </th>
                <th scope="col" class="px-2 py-3">
                    Expertise
                </th>

                <th scope="col" class="px-2 py-3">
                    Points
                </th>
                <th scope="col" class="px-2 py-3">
                    Status
                </th>
                <th scope="col" class="px-2 py-3">
                    Claimed By
                </th>
                <th scope="col" class="px-2 py-3 text-center">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            {% for bounty in bounties %}

            <tr class="bg-white border-b">
                <td class="relative whitespace-normal py-4 pl-3 pr-4 text-sm font-medium sm:pr-0">
                    <a href="" class="text-indigo-600 hover:text-indigo-900">{{ bounty.title }}</a>
                </td>
                <th scope="row" class="px-2 py-1 font-medium text-gray-900 whitespace-nowrap">
                    {{ bounty.skill }}
                </th>
                <td class="px-2 py-1">
                    {# {{ bounty.get_expertise_as_str() }} #}
                </td>
                <td class="px-2 py-1">
                    {{ bounty.points }}
                </td>
                <td class="px-2 py-1">
                    {{ TASK_TYPES[bounty.status] }}
                </td>
                <td class="px-2 py-1">


                    {% if bounty.status == 2 %}
                    Unclaimed
                    {% elif claimed_by %}
                    <div class="flex items-center text-xs text-black/[0.85]">
                        <a href="{{ claimed_by.get_absolute_url() }}" class="flex items-center ml-4">
                            <div class="flex items-center justify-center shrink-0 w-8 h-8 mr-1.5">
                                <img class="w-full h-full rounded-full bg-gray-50 ring-2 ring-white"
                                    src="{{ claimed_by.get_photo_url() }}" alt="Created By">
                            </div>
                            <div class="text-neutral-800">
                                {{ claimed_by.get_full_name() }}
                            </div>
                        </a>
                    </div>
                    {% endif %}
                    <p>
                    </p>
                </td>
                <td class="relative whitespace-nowrap">
                    <div class="max-w-lg mx-auto flex justify-center">
                        <button
                            class="flex justify-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-2 py-1 text-center inline-flex items-center"
                            type="button" data-dropdown-toggle="dropdown"><svg class="w-4 h-4" fill="none"
                                stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 9l-7 7-7-7"></path>
                            </svg></button>

                        <!-- Dropdown menu -->
                        <div class="hidden bg-white text-base z-50 list-none divide-y divide-gray-100 rounded-xl shadow my-4"
                            id="dropdown">
                            <ul class="py-1" aria-labelledby="dropdown">
                                <li>
                                    <a href="#" class="text-sm hover:bg-gray-100 text-gray-700 block px-4 py-2"
                                        hx-swap="outerHTML" hx-target="this" claim-bounty="true">Claim</a>
                                </li>
                                <li>
                                    <a href="#" class="text-sm hover:bg-gray-100 text-gray-700 block px-4 py-2">Edit</a>
                                </li>
                                <li>
                                    <a href="#" class="text-sm hover:bg-gray-100 text-gray-700 block px-4 py-2"
                                        hx-swap="outerHTML" hx-target="this"
                                        hx-vals='{"from": "bounty_detail_table.html"}'
                                        hx-confirm="Are you sure to cancel your bounty claim request?">Cancel
                                        Request</a>
                                </li>
                                <li>
                                    <a href="#" hx-get="" hx-confirm="Are you sure to delete this bounty?"
                                        hx-target="body" hx-swap="innerHTML" hx-push-url="true"
                                        class="text-sm hover:bg-gray-100 text-gray-700 block px-4 py-2 text-red-600">Delete
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>

<p>
    <a class="inline-block" href="">
        <button class="p-4 rounded-md bg-indigo-600 mt-4 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500"
            type="button">Add Bounty</button>
    </a>
</p>

<script src="https://unpkg.com/@themesberg/flowbite@latest/dist/flowbite.bundle.js"></script>
