{% extends 'base.html' %}

{% block title %}Challenge Detail{% endblock %}

{% block content %}
{% set TASK_TYPES = ["Draft", "Blocked", "Available", "Claimed", "Done", "In Review"] %}
{% set PRIORITY = ["High", "Low"] %}

<div class="flex flex-col">
    {% include 'helper/breadcrumbs_challenge_detail.html' %} 

    <h2 class="mt-2.5 mb-4 w-full text-neutral-800 text-xl">{{ challenge.title }}</h2>
    <div class="space-y-3.5 text-sm text-black/[0.85]">
        {% if challenge.short_description %}
        <div class="my-2">
            <p>{{ challenge.short_description }}</p>
        </div>
        {% endif %}

        <div class="flex items-center mb-2">
            <p>{{ challenge.description}}</p>
        </div>

    </div>

    <div class="flex flex-col mt-6">
        {% include 'bounty_detail_table.html' %}
    </div>
    {# 
        {% if challenge.attachment.exists() %}
        <div class="mt-4">
            {% with attachments=challenge.attachment.all() %}
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dd class="mt-2 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                    {% include 'product_management/partials/attachments.html' %}
                </dd>
            </div>
            {% endwith %}
        </div>
        {% endif %}
    #}

    <div class="flex flex-col space-y-2.5 my-6">
        <div class="flex items-center text-xs text-black/[0.85]">
            <strong>Created By:</strong>
            <a href="" class="flex items-center ml-4">
                <div class="flex items-center justify-center shrink-0 w-8 h-8 mr-1.5">
                    <img class="w-full h-full rounded-full bg-gray-50 ring-2 ring-white"
                        src="static/assets/images/profile-empty.png" alt="Created By">
                </div>
                <div class="text-neutral-800"> {{ created_by.username }}  </div>
            </a>
            <span>&nbsp;at {{ challenge.created_at }} </span>
        </div>
        <div class="flex items-center text-xs text-black/[0.85]">
            <strong>Status:</strong>
            {% if current_user_created_claim_request %}
            <span class="font-bold ml-1">Claim Request Under Review</span>
            {% else %}
            <span class="font-bold ml-1">{{  TASK_TYPES[challenge.status] }}</span>
            {% endif %}
        </div>
        <div class="flex items-center text-xs text-black/[0.85]">
            <strong>Priority:</strong> <span class="text-green-400 ml-1">{{ PRIORITY[challenge.priority] }}</span>
        </div>
    </div>
</div>

{% endblock %}