{% extends 'base.html' %}

{% block title %}Challenges Steps{% endblock %}
{% block content %}

<div class="flex flex-col grow pb-8 lg:pb-0">

  <div class="flex flex-col sm:flex-row space-y-8 sm:space-y-0 sm:space-x-4 lg:pt-[50px] sm:pb-8 lg:pb-12"
    data-current-step="1">
    <div
      class="steps flex flex-col px-4 py-2.5 sm:pt-[34px] sm:px-5 sm:pb-[46px] border-2 sm:border-[3px] border-solid border-[#F4F6F7]">
      <div class="active step-numb relative" data-step-numb="1">
        <span class="step-numb__divider" aria-hidden="true"></span>
        <div class="relative flex space-x-3">
          <div class="step-numb__item"> <span>1</span> </div>
          <div class="flex min-w-0 flex-1 ml-4">
            <div class="step-numb__text text-sm leading-6 text-black/[0.85] font-semibold sm:font-normal">
              Choose challenge type
            </div>
          </div>
        </div>
      </div>
      <div class="step-numb relative" data-step-numb="2">
        <span class="step-numb__divider" aria-hidden="true"></span>
        <div class="relative flex space-x-3">
          <div class="step-numb__item"> <span>2</span> </div>
          <div class="flex min-w-0 flex-1 ml-4">
            <div
              class="step-numb__text text-sm leading-6 text-black/[0.85] sm:text-[#8C8C8C] font-semibold sm:font-normal">
              Specify requirements
            </div>
          </div>
        </div>
      </div>
      <div class="step-numb relative" data-step-numb="3">
        <span class="step-numb__divider" aria-hidden="true"></span>
        <div class="relative flex space-x-3">
          <div class="step-numb__item"> <span>3</span> </div>
          <div class="flex min-w-0 flex-1 ml-4">
            <div
              class="step-numb__text text-sm leading-6 text-black/[0.85] sm:text-[#8C8C8C] font-semibold sm:font-normal">
              Add brief
            </div>
          </div>
        </div>
      </div>
      <div class="step-numb relative" data-step-numb="4">
        <span class="step-numb__divider" aria-hidden="true"></span>
        <div class="relative flex space-x-3">
          <div class="step-numb__item"> <span>4</span> </div>
          <div class="flex min-w-0 flex-1 ml-4">
            <div
              class="step-numb__text text-sm leading-6 text-black/[0.85] sm:text-[#8C8C8C] font-semibold sm:font-normal">
              Add additional info
            </div>
          </div>
        </div>
      </div>
      <div class="step-numb relative" data-step-numb="5">
        <div class="relative flex space-x-3">
          <div class="step-numb__item"> <span>5</span> </div>
          <div class="flex min-w-0 flex-1 ml-4">
            <div
              class="step-numb__text text-sm leading-6 text-black/[0.85] sm:text-[#8C8C8C] font-semibold sm:font-normal">
              Review and publish
            </div>
          </div>
        </div>
      </div>
    </div>
    <form
      class="challenges-steps flex flex-col justify-between grow sm:px-5 lg:px-[34px] sm:py-6 lg:pb-9 lg:pt-[34px] mb-0 sm:border-[3px] border-solid border-[#F4F6F7]">

      <div class="active flex-col space-y-6 sm:space-y-10 lg:space-y-12 mb-8 sm:mb-10" data-step-id="1">
        <div class="flex flex-col">
          <fieldset>
            <legend for="question-1" class="text-xl sm:text-2xl text-black/[0.85] font-semobild mb-4 sm:mb-6 w-full">
              Does
              solving your challenge require one skill, or multiple skills?</legend>

            <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 sm:gap-6">
              <label
                class="relative flex items-center cursor-pointer rounded border border-solid border-[#F0F0F0] bg-white py-3 sm:py-[18px] pl-4 sm:pl-5 xl:pl-[34px] pr-2.5 sm:pr-4 focus:outline-none">
                <input type="radio" name="skills-amount" class="opacity-0 w-0 h-0" value="type-1" checked>

                <div class="h-[22px] w-[22px] flex items-center justify-center shrink-0">
                  <div
                    class="check-icon checked h-full w-full flex items-center justify-center border-2 border-solid border-[#1890FF] bg-white rounded-full p-0.5">
                    <div class="w-3 h-3 flex items-center justify-center rounded-full bg-[#1890FF]"></div>
                  </div>
                  <div
                    class="unchecked h-full w-full flex items-center justify-center border-2 border-solid border-[#D9D9D9] bg-white rounded-full p-1.5">
                    <div class="w-3 h-3 flex items-center justify-center rounded-full bg-white"></div>
                  </div>
                </div>

                <span class="flex items-center flex-1 ml-2.5 sm:ml-4 xl:ml-9">
                  <div class="w-8 sm:w-[54px] h-8 sm:h-[54px] flex shrink-0 items-center justify-center mr-2.5">
                    <img class="w-full h-full object-center object-contain" src="/static/assets/images/skill-1.png"
                      alt="#">
                  </div>
                  <span class="flex flex-col">
                    <span class="inline-flex text-base sm:text-lg font-medium text-black/[0.85] sm:mb-1.5">One
                      Skill</span>
                    <span class="inline-flex text-xs sm:text-sm text-bluack/[0.85]">E.g. Frontend Development</span>
                  </span>
                </span>

              </label>
              <label
                class="relative flex items-center cursor-pointer rounded border border-solid border-[#F0F0F0] bg-white py-3 sm:py-[18px] pl-4 sm:pl-5 xl:pl-[34px] pr-2.5 sm:pr-4 focus:outline-none">
                <input type="radio" name="skills-amount" class="opacity-0 w-0 h-0" value="type-2">

                <div class="h-[22px] w-[22px] flex items-center justify-center shrink-0">
                  <div
                    class="check-icon checked h-full w-full flex items-center justify-center border-2 border-solid border-[#1890FF] bg-white rounded-full p-0.5">
                    <div class="w-3 h-3 flex items-center justify-center rounded-full bg-[#1890FF]"></div>
                  </div>
                  <div
                    class="unchecked h-full w-full flex items-center justify-center border-2 border-solid border-[#D9D9D9] bg-white rounded-full p-1.5">
                    <div class="w-3 h-3 flex items-center justify-center rounded-full bg-white"></div>
                  </div>
                </div>

                <span class="flex items-center flex-1 ml-2.5 sm:ml-4 xl:ml-9">
                  <div class="w-8 sm:w-[54px] h-8 sm:h-[54px] flex shrink-0 items-center justify-center mr-2.5">
                    <img class="w-full h-full object-center object-contain" src="/static/assets/images/skill-2.svg"
                      alt="#">
                  </div>
                  <span class="flex flex-col">
                    <span class="inline-flex text-base sm:text-lg font-medium text-black/[0.85] sm:mb-1.5">Multi
                      Skills</span>
                    <span class="inline-flex text-xs sm:text-sm text-black/[0.85]">E.g. User Research and Graphic
                      Design</span>
                  </span>
                </span>

              </label>
            </div>
          </fieldset>

        </div>
        <div class="flex flex-col">
          <fieldset>
            <legend for="question-1" class="text-xl sm:text-2xl text-black/[0.85] font-semobild mb-4 sm:mb-6 w-full">How
              will
              solving this challenge be rewarded?</legend>

            <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 sm:gap-6">
              <label
                class="relative flex items-center cursor-pointer rounded border border-solid border-[#F0F0F0] bg-white py-3 sm:py-[18px] pl-4 sm:pl-5 xl:pl-[34px] pr-2.5 sm:pr-4 focus:outline-none">
                <input type="radio" name="challenge-rewarded" class="opacity-0 w-0 h-0" value="type-1" checked>

                <div class="h-[22px] w-[22px] flex items-center justify-center shrink-0">
                  <div
                    class="check-icon checked h-full w-full flex items-center justify-center border-2 border-solid border-[#1890FF] bg-white rounded-full p-0.5">
                    <div class="w-3 h-3 flex items-center justify-center rounded-full bg-[#1890FF]"></div>
                  </div>
                  <div
                    class="unchecked h-full w-full flex items-center justify-center border-2 border-solid border-[#D9D9D9] bg-white rounded-full p-1.5">
                    <div class="w-3 h-3 flex items-center justify-center rounded-full bg-white"></div>
                  </div>
                </div>

                <span class="flex items-center flex-1 ml-2.5 sm:ml-4 xl:ml-9">
                  <div class="w-8 sm:w-[54px] h-8 sm:h-[54px] flex shrink-0 items-center justify-center mr-2.5">
                    <img class="w-full h-full object-center object-contain" src="/static/assets/images/skill-3.svg"
                      alt="#">
                  </div>
                  <span class="flex flex-col">
                    <span class="inline-flex text-base sm:text-lg font-medium text-black/[0.85] sm:mb-1.5">Non-liquid
                      points</span>
                    <span class="inline-flex text-xs sm:text-sm text-black/[0.85]">Can not be redeemed for money</span>
                  </span>
                </span>

              </label>
              <label
                class="relative flex items-center cursor-pointer rounded border border-solid border-[#F0F0F0] bg-white py-3 sm:py-[18px] pl-4 sm:pl-5 xl:pl-[34px] pr-2.5 sm:pr-4 focus:outline-none">
                <input type="radio" name="challenge-rewarded" class="opacity-0 w-0 h-0" value="type-2">

                <div class="h-[22px] w-[22px] flex items-center justify-center shrink-0">
                  <div
                    class="check-icon checked h-full w-full flex items-center justify-center border-2 border-solid border-[#1890FF] bg-white rounded-full p-0.5">
                    <div class="w-3 h-3 flex items-center justify-center rounded-full bg-[#1890FF]"></div>
                  </div>
                  <div
                    class="unchecked h-full w-full flex items-center justify-center border-2 border-solid border-[#D9D9D9] bg-white rounded-full p-1.5">
                    <div class="w-3 h-3 flex items-center justify-center rounded-full bg-white"></div>
                  </div>
                </div>

                <span class="flex items-center flex-1 ml-2.5 sm:ml-4 xl:ml-9">
                  <div class="w-8 sm:w-[54px] h-8 sm:h-[54px] flex shrink-0 items-center justify-center mr-2.5">
                    <img class="w-full h-full object-center object-contain" src="/static/assets/images/skill-4.svg"
                      alt="#">
                  </div>
                  <span class="flex flex-col">
                    <span class="inline-flex text-base sm:text-lg font-medium text-black/[0.85] sm:mb-1.5">Liquid
                      points</span>
                    <span class="inline-flex text-xs sm:text-sm text-black/[0.85]">Can be redeemd for money</span>
                  </span>
                </span>

              </label>
            </div>
          </fieldset>

        </div>
      </div>
      <div class="flex-col mb-10" data-step-id="2">
      </div>
      <div class="flex-col mb-10" data-step-id="3">
      </div>
      <div class="flex-col mb-10" data-step-id="4">
        <div class="flex flex-col sm:max-w-[400px] w-full">
          <div class="text-xl sm:text-2xl text-black/[0.85] font-medium mb-4 sm:mb-[38px] w-full">Additional important
            information</div>
          <div class="flex flex-col">
            <label for="depend-on" class="text-lg text-black/[0.85] mb-2 inline-flex items-center">Dependant on
              <span class="relative hint z-[1] ml-1">
                <span class="inline-flex items-center justify-center w-[14px] h-[14px] relative z-[1]">
                  <img class="w-full h-full object-center object-contain" src="/static/assets/images/question.svg"
                    alt="#">
                </span>
                <span
                  class="hint-popup absolute transition-all -left-4 -top-full w-40 text-black/[0.85] py-1.5 px-3 bg-white border border-solid border-[#D9D9D9] text-xs z-[2]">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                </span>
              </span>
            </label>
            <input type="text" id="depend-on" name="depend-on"
              class="py-1.5 px-3 text-sm text-black border border-solid border-[#D9D9D9] mb-4 rounded-sm focus:outline-none"
              placeholder="Add dependancies">
          </div>
          <div class="flex flex-col">
            <label for="contributing-guide" class="text-lg text-black/[0.85] mb-2 inline-flex items-center">Contributing guide
              <span class="relative hint z-[1] ml-1">
                <span class="inline-flex items-center justify-center w-[14px] h-[14px] relative z-[1]">
                  <img class="w-full h-full object-center object-contain" src="/static/assets/images/question.svg"
                    alt="#">
                </span>
                <span
                  class="hint-popup absolute transition-all -left-4 -top-full w-40 text-black/[0.85] py-1.5 px-3 bg-white border border-solid border-[#D9D9D9] text-xs z-[2]">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                </span>
              </span>
            </label>
            <input type="text" id="contributing-guide" name="contributing-guide"
              class="py-1.5 px-3 text-sm text-black border border-solid border-[#D9D9D9] mb-4 rounded-sm focus:outline-none"
              placeholder="Add contributing guide">
          </div>
          <div class="flex flex-col">
            <label for="priority" class="text-lg text-black/[0.85] mb-2 inline-flex items-center">Priority
              <span class="relative hint z-[1] ml-1">
                <span class="inline-flex items-center justify-center w-[14px] h-[14px] relative z-[1]">
                  <img class="w-full h-full object-center object-contain" src="/static/assets/images/question.svg"
                    alt="#">
                </span>
                <span
                  class="hint-popup absolute transition-all -left-4 -top-full w-40 text-black/[0.85] py-1.5 px-3 bg-white border border-solid border-[#D9D9D9] text-xs z-[2]">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                </span>
              </span>
            </label>
            <div class="js-choice relative">
              <select multiple id="priority" name="priority"
                class="appearance-none block w-full rounded-md border-0 py-1.5 pl-3 pr-10 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-[#1890ff] focus-visible:outline-0 text-sm sm:leading-6 text-sm text-black border border-solid border-[#D9D9D9] mb-4 rounded-sm focus:outline-none">
                <option value="">Select priority</option>
                <option value="priority-1">Low</option>
                <option value="priority-2">Medium</option>
                <option value="priority-3">High</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-col mb-10" data-step-id="5">
        <div class="flex flex-col max-w-[850px]">
          <div class="text-2xl font-medium text-black/[0.85] mb-9">Summary</div>
          <label for="title" class="text-lg text-black/[0.85] mb-2">Title</label>
          <input type="text" id="title" name="title"
            class="py-1.5 px-3 text-sm text-black border border-solid border-[#D9D9D9] mb-4 rounded-sm focus:outline-none"
            placeholder="Admin or manager should be able to approve or reject tasks">
          <label for="description" class="text-lg text-black/[0.85] mb-2">Description</label>
          <textarea name="description" id="description"
            class="pt-2 px-4 pb-3 min-h-[164px] w-full text-sm text-black border border-solid border-[#D9D9D9] focus:outline-none rounded-sm"
            placeholder="Lorem ipsum"></textarea>

          <div class="mt-[18px] flow-root sm:mx-0 max-w-[682px] w-full">
            <table class="min-w-full">
              <colgroup>
                <col class="w-5/6">
                <col class="w-1/6">
              </colgroup>
              <thead class="border-b border-gray-300 text-gray-900">
                <tr>
                  <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Skill &
                    Expertise</th>
                  <th scope="col" class="py-3.5 pl-3 pr-4 text-sm font-semibold text-gray-900 sm:pr-0 text-center">
                    Points</th>
                </tr>
              </thead>
              <tbody>
                <tr class="border-b border-gray-200">
                  <td class="max-w-0 py-5 pl-4 pr-3 text-sm sm:pl-0">
                    <div class="font-medium text-gray-900">Softwara Development > Frontend Development (React,
                      Typescript)</div>
                  </td>
                  <td class="py-5 pl-3 pr-4 text-sm text-gray-500 sm:pr-0 text-center">3</td>
                </tr>
                <tr class="border-b border-gray-200">
                  <td class="max-w-0 py-5 pl-4 pr-3 text-sm sm:pl-0">
                    <div class="font-medium text-gray-900">Design > UX Design (Figma)</div>
                  </td>
                  <td class="py-5 pl-3 pr-4 text-sm text-gray-500 sm:pr-0 text-center">10</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th scope="row"
                    class="hidden pl-4 pr-3 pt-6 text-right text-sm font-normal text-gray-500 sm:table-cell sm:pl-0">
                    Total</th>
                  <th scope="row" class="pl-4 pr-3 pt-6 text-left text-sm font-normal text-gray-500 sm:hidden">Total
                  </th>
                  <td class="pl-3 pr-4 pt-6 text-sm text-gray-500 sm:pr-0 text-center">13</td>
                </tr>
                <tr>
                  <th scope="row"
                    class="hidden pl-4 pr-3 pt-4 text-right text-sm font-normal text-gray-500 sm:table-cell sm:pl-0">
                    Your balance</th>
                  <th scope="row" class="pl-4 pr-3 pt-4 text-left text-sm font-normal text-gray-500 sm:hidden">Your
                    balance</th>
                  <td class="pl-3 pr-4 pt-4 text-sm text-gray-500 sm:pr-0 text-center">46</td>
                </tr>
                <tr>
                  <th scope="row"
                    class="hidden pl-4 pr-3 pt-4 text-right text-sm font-semibold text-gray-900 sm:table-cell sm:pl-0">
                    Ramaining balance after publishing</th>
                  <th scope="row" class="pl-4 pr-3 pt-4 text-left text-sm font-semibold text-gray-900 sm:hidden">
                    Ramaining balance after publishing</th>
                  <td class="pl-3 pr-4 pt-4 text-sm font-semibold text-gray-900 sm:pr-0 text-center">33</td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>

      <div class="flex flex-col md:flex-row md:items-center md:justify-between mt-auto">
        <div class="flex items-center justify-end md:justify-start space-x-4">
          <button type="button" class="bg-white text-sm font-semibold leading-6 transition-all delay-600 rounded px-3.5 py-1.5 text-gray-900 shadow-sm hover:bg-gray-900/[0.8] hover:text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-transparent cursor-pointer border border-solid border-[#ddd] 
            hover:border-gray-900/[0.8] btn-modal__open">Save as a draft</button>
          <button type="button"
            class="bg-transparent text-sm font-semibold text-sm leading-6 text-gray-900 leading-6 transition-all delay-600 rounded px-3.5 py-1.5 hover:bg-transparent focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-transparent hover:underline underline-offset-2 cursor-pointer">Cancel</button>
        </div>
        <div class="sm:ml-auto mt-3 md:mt-0 flex items-center justify-end space-x-4">
          <button type="button" class="w-fit min-w-[96px] bg-white text-sm font-semibold leading-6 transition-all delay-600 rounded px-3.5 py-1.5 text-gray-900 shadow-sm hover:bg-gray-900/[0.8] hover:text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-transparent cursor-pointer border border-solid border-[#ddd] 
          hover:border-gray-900/[0.8] hidden" data-step-previous=""><span aria-hidden="true"
              class="pointer-events-none">←</span> Previous</button>
          <button type="button"
            class="w-fit min-w-[96px] bg-[#1890ff] text-sm font-semibold leading-6 transition-all delay-600 rounded px-3.5 py-1.5 text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 cursor-pointer"
            data-step-next="">Next <span aria-hidden="true" class="pointer-events-none">→</span></button>
        </div>
      </div>

    </form>
  </div>

</div>

{% endblock %}
