{% extends 'product_base.html' %}

{% block title %} Portfolio {% endblock %}
{% block content %}

<div class="flex-auto">
  <div class="relative z-[1] w-full h-[296px] rounded-md -mb-40 bg-gradient-to-r from-purple-100 to-indigo-400">
    <!-- <img src="#" class="h-full w-full object-cover object-center rounded-md" alt="#"> -->
  </div>
  <div class="relative z-[2] flex w-full max-w-[98%] w-full mx-auto">
    <div class="w-[320px] mr-6 flex flex-col shrink-0">
      <div class="relative z-[2]">
        <div class="w-[306px] h-[306px] mx-auto rounded-full shadow-xl bg-white flex shrink-0 item-center justify-center">
          <img src="/static/assets/images/avatar.jpg" class="h-full w-full object-cover object-center rounded-full" alt="">
        </div>
        <div class="absolute rounded-full bg-white p-1 w-[52px] h-[52px] right-2 bottom-10 border border-solid border-indigo-600 
        inline-flex shadow-xl text-indigo-600 text-lg flex shrink-0 items-center justify-center">
          96%
        </div>
      </div>
      <div class="bg-white relative -mt-40 rounded-md border border-solid border-[#d0d7de] pt-[190px] pb-10 px-4 relative z-[1]">
        <div class="text-2xl text-[#4b5563] font-semibold">Johnathan Johnathan</div>
        <div class="pb-4 font-light text-xl text-[#6b7280]">@jhnthn</div>
        <div class="py-1.5 px-3 flex items-center justify-center text-center mb-4 w-full border border-solid border-blue-400 text-sm rounded-md bg-blue-400/[0.1] hover:bg-blue-400/[0.2] transition-all cursor-pointer text-blue-500"> 
          <span class="text-blue-400 text-base mr-1.5">&#9734;</span> 
          Save in favorites
        </div>
        <div class="py-1.5 px-3 flex items-center justify-center text-center mb-4 w-full border border-solid border-blue-400 text-sm rounded-md bg-blue-400/[0.1] hover:bg-blue-400/[0.2] transition-all cursor-pointer text-blue-500"> 
          <span class="text-blue-400 text-base mr-1.5">&#9733;</span> 
          Remove from favorites
        </div>
        <div class="mb-4 flex items-center">
          <a href="#" class="flex items-center text-[#656d76] transition-all hover:text-blue-400 group">
            <span class="w-4 h-4 flex shrink-0 items-center justify-center mr-1 text-[#4b5563] group-hover:text-blue-400 pt-0.5">
              <svg class="w-full h-full" viewBox="0 0 16 16">
                <path fill="currentColor" d="M2 5.5a3.5 3.5 0 1 1 5.898 2.549 5.508 5.508 0 0 1 3.034 4.084.75.75 0 1 1-1.482.235 4 4 0 0 0-7.9 0 .75.75 0 0 1-1.482-.236A5.507 5.507 0 0 1 3.102 8.05 3.493 3.493 0 0 1 2 5.5ZM11 4a3.001 3.001 0 0 1 2.22 5.018 5.01 5.01 0 0 1 2.56 3.012.749.749 0 0 1-.885.954.752.752 0 0 1-.549-.514 3.507 3.507 0 0 0-2.522-2.372.75.75 0 0 1-.574-.73v-.352a.75.75 0 0 1 .416-.672A1.5 1.5 0 0 0 11 5.5.75.75 0 0 1 11 4Zm-5.5-.5a2 2 0 1 0-.001 3.999A2 2 0 0 0 5.5 3.5Z"></path>
              </svg>
            </span>
            <strong class="text-[#4b5563] group-hover:text-blue-400 mr-1.5">536</strong> contributors
          </a>
          <div class="mx-1.5"> · </div>
          <a href="#" class="flex items-center text-[#656d76] transition-all hover:text-blue-400 group">
            <strong class="text-[#4b5563] group-hover:text-blue-400 mr-1.5">7</strong> leadership
          </a>
        </div>
        <div class="space-y-1.5 flex flex-col">
          <a href="#" class="flex items-center text-[#4b5563] text-sm transition-all hover:text-blue-400">
            <span class="w-4 h-4 flex shrink-0 items-center justify-center mr-2">
              <img src="/static/assets/images/building.svg" alt="#">
            </span>
            Company Name
          </a>
          <a href="#" class="flex items-center text-[#4b5563] text-sm transition-all hover:text-blue-400">
            <span class="w-4 h-4 flex shrink-0 items-center justify-center mr-2">
              <img src="/static/assets/images/geo.svg" alt="#">
            </span>
            City Name
          </a>
          <a href="mailto:test@gmail.com" class="flex items-center text-[#4b5563] text-sm transition-all hover:text-blue-400">
            <span class="w-4 h-4 flex shrink-0 items-center justify-center mr-2">
              <img src="/static/assets/images/mail.svg" alt="#">
            </span>
            test@gmail.com
          </a>
          <a href="#" class="flex items-center text-[#4b5563] text-sm transition-all hover:text-blue-400">
            <span class="w-4 h-4 flex shrink-0 items-center justify-center mr-2">
              <img src="/static/assets/images/ln.svg" alt="#">
            </span>
            ln/test
          </a>
          <a href="https://www.google.com/" class="flex items-center text-[#4b5563] text-sm transition-all hover:text-blue-400">
            <span class="w-4 h-4 flex shrink-0 items-center justify-center mr-2">
              <img src="/static/assets/images/link.svg" alt="#">
            </span>
            https://www.google.com/
          </a>
          <a href="https://twitter.com/" class="flex items-center text-[#4b5563] text-sm transition-all hover:text-blue-400">
            <span class="w-4 h-4 flex shrink-0 items-center justify-center mr-2">
              <img src="/static/assets/images/twitter.svg" alt="#">
            </span>
            @jhnthn
          </a>
        </div>
      </div>
    </div>
    <div class="grow border border-solid border-[#d0d7de] p-6 bg-white rounded-md mt-[54px]">
      
    </div>
  </div>
</div>

{% endblock %}
