{% extends 'product_base.html' %}

{% block title %} Portfolio {% endblock %}
{% block content %}

<div class="flex-auto">
  <div class="relative z-[1] w-full h-[296px] rounded-md -mb-40 bg-gradient-to-r from-purple-100 to-indigo-400">
    <!-- <img src="#" class="h-full w-full object-cover object-center rounded-md" alt="#"> -->
  </div>
  <div class="relative z-[2] flex w-full max-w-[1170px] w-full mx-auto">
    <div class="w-[296px] mr-6 flex flex-col shrink-0">
      <div class="relative">
        <div class="w-full h-[296px] rounded-full shadow-xl bg-white flex shrink-0 item-center justify-center">
          <img src="/static/assets/images/avatar.jpg" class="h-full w-full object-cover object-center rounded-full" alt="">
        </div>
        <div class="absolute rounded-full bg-white p-1 w-[52px] h-[52px] right-2 bottom-10 border border-solid border-indigo-600 
        inline-flex shadow-xl text-indigo-600 text-lg flex shrink-0 items-center justify-center">
          96%
        </div>
      </div>
      <div class="bg-white relative -mt-40 rounded-md border border-solid border-[#d0d7de] pt-[180px] pb-10">

      </div>
    </div>
    <div class="grow border border-solid border-[#d0d7de] p-6 bg-white rounded-md mt-[54px]">
      
    </div>
  </div>
</div>

{% endblock %}
