{% extends 'base.html' %}

<!-- {% block title %}Product - Challenges{% endblock %} -->
{% block content %}

<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-gray-50">
  <body class="h-full">
  ```
-->
<div class="lg:flex">
    <!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
    <div class="relative z-50 lg:hidden" style="display: none;" role="dialog" aria-modal="true">
        <!--
      Off-canvas menu backdrop, show/hide based on off-canvas menu state.

      Entering: "transition-opacity ease-linear duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "transition-opacity ease-linear duration-300"
        From: "opacity-100"
        To: "opacity-0"
    -->
        <div class="fixed inset-0 bg-gray-900/80"></div>

        <div class="fixed inset-0 flex">
            <!--
        Off-canvas menu, show/hide based on off-canvas menu state.

        Entering: "transition ease-in-out duration-300 transform"
          From: "-translate-x-full"
          To: "translate-x-0"
        Leaving: "transition ease-in-out duration-300 transform"
          From: "translate-x-0"
          To: "-translate-x-full"
      -->
            <div class="relative mr-16 flex w-full max-w-xs flex-1">
                <!--
          Close button, show/hide based on off-canvas menu state.

          Entering: "ease-in-out duration-300"
            From: "opacity-0"
            To: "opacity-100"
          Leaving: "ease-in-out duration-300"
            From: "opacity-100"
            To: "opacity-0"
        -->
                <div class="absolute left-full top-0 flex w-16 justify-center pt-5">
                    <button type="button" class="-m-2.5 p-2.5">
                        <span class="sr-only">Close sidebar</span>
                        <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>

                <!-- Sidebar component, swap this element with another sidebar if you like -->
                <div class="flex grow flex-col gap-y-5 overflow-y-auto bg-white px-6 pb-2">
                    <div class="flex shrink-0 items-center">
                        <img class="h-16 w-auto rounded-full overflow-hidden"
                            src="https://openunited.com/images/products/2021-04-17%2014:19:10%20e74c5313.png"
                            alt="OpenUnited">
                    </div>
                    <nav class="flex flex-1 flex-col">
                        <ul role="list" class="flex flex-1 flex-col gap-y-7">
                            <li>
                                <ul role="list" class="-mx-2 space-y-1">
                                    <li>
                                        {% if current_page=="summary_page" %}
                                        <a href=""
                                            class="bg-gray-50 text-blue-400 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                                            {% else %}
                                            <a href="{{url_for('product_summary')}}"
                                                class="text-gray-700 hover:text-blue-400 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                                                {% endif %}
                                                Summary
                                            </a>
                                    </li>
                                    <li>
                                        {% if current_page=="initiatives_page" %}
                                        <a href=""
                                            class="bg-gray-50 text-blue-400 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                                            {% else %}
                                            <a href="{{url_for('product_initiatives')}}"
                                                class="text-gray-700 hover:text-blue-400 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                                                {% endif %}
                                                Initiatives
                                            </a>
                                    </li>
                                    <li>
                                        {% if current_page=="challenges_page" %}
                                        <a href=""
                                            class="bg-gray-50 text-blue-400 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                                            {% else %}
                                            <a href="{{url_for('product_challenges')}}"
                                                class="text-gray-700 hover:text-blue-400 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                                                {% endif %}
                                                Challenges
                                            </a>
                                    </li>
                                    <li>
                                        {% if current_page=="tree_page" %}
                                        <a href=""
                                            class="bg-gray-50 text-blue-400 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                                            {% else %}
                                            <a href="{{url_for('product_product_tree')}}"
                                                class="text-gray-700 hover:text-indigo-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                                                {% endif %}
                                                Product Tree
                                            </a>
                                    </li>
                                    <li>
                                        {% if current_page=="ideas_page" %}
                                        <a href=""
                                            class="bg-gray-50 text-indigo-600 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                                            {% else %}
                                            <a href="{{url_for('product_ideas_bugs')}}" class=" text-gray-700 hover:text-indigo-600 hover:bg-gray-50 group flex
                                                gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                                                {% endif %}
                                                Ideas & Bugs
                                            </a>
                                    </li>

                                    <li>
                                        {% if current_page=="people_page" %}
                                        <a href=""
                                            class="bg-gray-50 text-indigo-600 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                                            {% else %}
                                            <a href="{{url_for('product_people')}}"
                                                class="text-gray-700 hover:text-indigo-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                                                {% endif %}
                                                People
                                            </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- Static sidebar for desktop -->
    <div class="hidden lg:flex lg:w-72 lg:flex-none lg:flex-col">
        <!-- Sidebar component, swap this element with another sidebar if you like -->
        <div class="flex grow flex-col gap-y-5 overflow-y-auto border-r border-gray-200 bg-white px-6">
            <div class="flex shrink-0 items-center">
                <img class="h-20 w-auto rounded-full overflow-hidden"
                    src="https://openunited.com/images/products/2021-04-17%2014:19:10%20e74c5313.png" alt="OpenUnited">
            </div>
            <nav class="flex flex-1 flex-col">
                <ul role="list" class="flex flex-1 flex-col gap-y-7">
                    <li>
                        <ul role="list" class="-mx-2 space-y-1">
                            <li>
                                {% if current_page=="summary_page" %}
                                <a href=""
                                    class="bg-gray-50 text-blue-400 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                                    {% else %}
                                    <a href="{{url_for('product_summary')}}"
                                        class="text-gray-700 hover:text-blue-400 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                                        {% endif %}
                                        Summary
                                    </a>
                            </li>
                            <li>
                                {% if current_page=="initiatives_page" %}
                                <a href=""
                                    class="bg-gray-50 text-blue-400 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                                    {% else %}
                                    <a href="{{url_for('product_initiatives')}}"
                                        class="text-gray-700 hover:text-blue-400 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                                        {% endif %}
                                        Initiatives
                                    </a>
                            </li>
                            <li>
                                {% if current_page=="challenges_page" %}
                                <a href=""
                                    class="bg-gray-50 text-blue-400 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                                    {% else %}
                                    <a href="{{url_for('product_challenges')}}"
                                        class="text-gray-700 hover:text-blue-400 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                                        {% endif %}
                                        Challenges
                                    </a>
                            </li>
                            <li>
                                {% if current_page=="tree_page" %}
                                <a href=""
                                    class="bg-gray-50 text-blue-400 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                                    {% else %}
                                    <a href="{{url_for('product_product_tree')}}"
                                        class="text-gray-700 hover:text-blue-400 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                                        {% endif %}
                                        Product Tree
                                    </a>
                            </li>
                            <li>
                                {% if current_page=="ideas_page" %}
                                <a href=""
                                    class="bg-gray-50 text-blue-400 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                                    {% else %}
                                    <a href="{{url_for('product_ideas_bugs')}}"
                                        class="text-gray-700 hover:text-blue-400 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                                        {% endif %}
                                        Ideas & Bugs
                                    </a>
                            </li>

                            <li>
                                {% if current_page=="people_page" %}
                                <a href=""
                                    class="bg-gray-50 text-blue-400 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                                    {% else %}
                                    <a href="{{url_for('product_people')}}"
                                        class="text-gray-700 hover:text-blue-400 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                                        {% endif %}
                                        People
                                    </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div
        class="sticky top-0 z-40 flex items-center gap-x-6 bg-white px-4 py-4 shadow-sm sm:px-6 lg:hidden bg-green-100">
        <button type="button" class="-m-2.5 p-2.5 text-gray-700 lg:hidden">
            <span class="sr-only">Open sidebar</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
        </button>
        <div class="flex-1 text-sm font-semibold leading-6 text-gray-900">Dashboard</div>
    </div>

    <section class="py-10 lg:flex-1">
        <div class="px-4 sm:px-6 lg:px-8">
            {% block product_content %}{% endblock %}
        </div>
    </section>
</div>



{% endblock %}