{% extends 'product_base.html' %}

{% block title %}Product - Summary{% endblock %}
{% block product_content %}

<style>

  .nested-item__wrap > .nested-item:first-child > .nested-item__label {
    border-top: 0px!important;
    padding-top: 0px!important;
  }
</style>

{% macro generate_summary_structure(data, depth = 0) %}
  {% for item in data %}
    {% if depth == 0 %} 
    <div class="sm:px-4 md:px-0 py-5 lg:py-6 sm:grid sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium leading-6 text-gray-900">
        <span class="flex flex-col">
          <span class="flex flex-wrap items-center font-semibold">
            <a href="{{item['link']}}" class="mr-2">{{item['name']}}</a>
            <button class="btn-video__open transition px-1.5 py-0.5 bg-[#F5F5F5] rounded border border-solid border-[#D9D9D9] flex items-center whitespace-nowrap" data-video="{{item['linkYoutubeVideo']}}">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 border border-solid border-white" viewBox="0 0 12 12" fill="none">
                <path d="M0.875 11.125H11.125V0.875H0.875V11.125ZM4.625 3.55156C4.625 3.40469 4.79531 3.32188 4.91094 3.41406L8.02656 5.8625C8.04736 5.87888 8.06418 5.89976 8.07574 5.92358C8.0873 5.94739 8.09331 5.97353 8.09331 6C8.09331 6.02647 8.0873 6.0526 8.07574 6.07642C8.06418 6.10024 8.04736 6.12112 8.02656 6.1375L4.91094 8.5875C4.79531 8.67812 4.625 8.59687 4.625 8.45V3.55156Z" fill="#FA541C"/>
              </svg>
              <span class="text-neutral-950 text-xs ml-1 font-normal">
                {{item['nameToutubeVideo']}} <span class="text-gray-500">{{item['durationYoutubeVideo']}}</span>
              </span>
            </button>
          </span>
          <span class="flex text-sm leading-6 text-gray-700 font-normal mt-0.5">
            {{item['description']}}
          </span>
        </span>
      </dt>
      <dd class="mt-1 flex text-sm leading-6 text-gray-700 font-normal sm:col-span-2 sm:mt-0 ">
        <span class="flex flex-col grow nested-item__wrap"> 
          {{ generate_summary_structure(item["children"], depth + 1) }}
        </span>
      </dd>
    </div>
    {% endif %}

    {% if not depth == 0 %}
      <div class="nested-item flex flex-col {% if depth > 1 %}pl-4 lg:pl-8{% endif %}">
        <div class="nested-item__label flex items-start py-1.5 border-t border-solid border-gray-100">
          
          <button type="button" class="{% if not item["children"] %}opacity-0 pointer-events-none{% endif %} nested-item__label-icon h-[22px] w-4 mr-1 flex items-center justify-center shrink-0 rounded-full focus:outline-none focus:ring-0">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-full h-4 category-close-btn" viewBox="0 0 16 16" fill="none">
              <path d="M13.75 4.66252H8.14062L6.30781 2.90939C6.28449 2.88756 6.25382 2.87529 6.22188 2.87502H2.25C1.97344 2.87502 1.75 3.09846 1.75 3.37502V12.625C1.75 12.9016 1.97344 13.125 2.25 13.125H13.75C14.0266 13.125 14.25 12.9016 14.25 12.625V5.16252C14.25 4.88596 14.0266 4.66252 13.75 4.66252ZM13.125 12H2.875V4.00002H5.82031L7.68906 5.78752H13.125V12Z" fill="#1890FF"/>
              <path d="M5.82031 4.00002H2.875V12H13.125V5.78752H7.68906L5.82031 4.00002Z" fill="#E6F7FF"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="w-full h-4 category-open-btn hidden" viewBox="0 0 16 16" fill="none">
              <path d="M2.48438 12H12.0516L13.6672 8.00002H4.09844L2.48438 12Z" fill="#E6F7FF"/>
              <path d="M14.5 6.93752H12.8125V5.16252C12.8125 4.88595 12.5891 4.66252 12.3125 4.66252H7.39062L5.55781 2.90939C5.53449 2.88756 5.50382 2.87529 5.47188 2.87502H1.5C1.22344 2.87502 1 3.09845 1 3.37502V12.625C1 12.9016 1.22344 13.125 1.5 13.125H12.4062C12.6094 13.125 12.7937 13.0016 12.8703 12.8125L14.9641 7.62502C14.9875 7.56564 15 7.50158 15 7.43752C15 7.16095 14.7766 6.93752 14.5 6.93752ZM2.125 4.00002H5.07031L6.93906 5.78752H11.6875V6.93752H3.71875C3.51562 6.93752 3.33125 7.06095 3.25469 7.25002L2.125 10.05V4.00002ZM12.0516 12H2.48438L4.09844 8.00002H13.6672L12.0516 12Z" fill="#1890FF"/>
              </svg>
          </button>
          <span class="flex flex-col">
            <span class="flex flex-wrap items-center font-semibold">
              <a href="{{item['link']}}" class="mr-2">{{item['name']}}</a>
              <button class="btn-video__open transition px-1.5 py-0.5 bg-[#F5F5F5] rounded border border-solid border-[#D9D9D9] flex items-center whitespace-nowrap" data-video="{{item['linkYoutubeVideo']}}">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 border border-solid border-white" viewBox="0 0 12 12" fill="none">
                  <path d="M0.875 11.125H11.125V0.875H0.875V11.125ZM4.625 3.55156C4.625 3.40469 4.79531 3.32188 4.91094 3.41406L8.02656 5.8625C8.04736 5.87888 8.06418 5.89976 8.07574 5.92358C8.0873 5.94739 8.09331 5.97353 8.09331 6C8.09331 6.02647 8.0873 6.0526 8.07574 6.07642C8.06418 6.10024 8.04736 6.12112 8.02656 6.1375L4.91094 8.5875C4.79531 8.67812 4.625 8.59687 4.625 8.45V3.55156Z" fill="#FA541C"/>
                </svg>
                <span class="text-neutral-950 text-xs ml-1 font-normal">
                  {{item['nameToutubeVideo']}} <span class="text-gray-500">{{item['durationYoutubeVideo']}}</span>
                </span>
              </button>
            </span>
            <span class="flex text-sm leading-6 text-gray-700 font-normal mt-0.5">
              {{item['description']}}
            </span>
          </span>
        </div>
        {% if item["children"] %}
          <div class="nested-item__child hidden">
              {{ generate_summary_structure(item["children"], depth + 1) }}
          </div>
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}
{% endmacro %}

  <div class="">
    <h3 class="text-xl text-gray-900">Product Tree</h3>
    <form class="mt-4 mb-4 lg:mb-7 flex items-center">
      <input type="text" name="search-field" id="search-field"
        class="block w-full sm:max-w-[200px] rounded-l-md border-0 py-1.5 px-3 text-gray-900 text-sm shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus-visible:outline-none sm:text-sm sm:leading-6 h-9"
        placeholder="Search text">
      <button type="submit"
        class="inline-flex items-center justify-center rounded-r-md bg-blue-400 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-400/[0.85] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-400/[0.85] sm:mt-0 w-auto h-9 transition-all delay-600">
        <svg viewBox="64 64 896 896" focusable="false" data-icon="search" width="1em" height="1em" fill="currentColor"
          aria-hidden="true">
          <path
            d="M909.6 854.5L649.9 594.8C690.2 542.7 712 479 712 412c0-80.2-31.3-155.4-87.9-212.1-56.6-56.7-132-87.9-212.1-87.9s-155.5 31.3-212.1 87.9C143.2 256.5 112 331.8 112 412c0 80.1 31.3 155.5 87.9 212.1C256.5 680.8 331.8 712 412 712c67 0 130.6-21.8 182.7-62l259.7 259.6a8.2 8.2 0 0011.6 0l43.6-43.5a8.2 8.2 0 000-11.6zM570.4 570.4C528 612.7 471.8 636 412 636s-116-23.3-158.4-65.6C211.3 528 188 471.8 188 412s23.3-116.1 65.6-158.4C296 211.3 352.2 188 412 188s116.1 23.2 158.4 65.6S636 352.2 636 412s-23.3 116.1-65.6 158.4z">
          </path>
        </svg>
      </button>
    </form>

    <div class="flex flex-col flex-grow">
      <div class="mt-4 lg:mt-6 border-t border-gray-100">
        <dl class="divide-y divide-gray-100">
          {{ generate_summary_structure(product_summary_listings) }}
        </dl>
      </div>
    </div>

  </div>
</div>

<script>
  const videoBtnsOpen = document.querySelectorAll('.btn-video__open');
  const modalWrap = document.querySelector('.modal-wrap');
  const modalWrapCloseBtn = document.querySelector('.btn-video__close');

  modalWrap.querySelector('iframe').src = '';

  videoBtnsOpen.forEach(btn => {
    btn.addEventListener('click', () => {

      modalWrap.classList.remove('hidden');
      modalWrap.querySelector('iframe').src = btn.dataset.video;
    });
  })

  modalWrapCloseBtn.addEventListener('click', () => {
    modalWrap.classList.add('hidden');
  });

  const nestedTableNames = document.querySelectorAll('.nested-item__label-icon');

  nestedTableNames.forEach(item => {
    item.addEventListener('click', () => {
      
      const child = item.closest(".nested-item__label").nextElementSibling;
      child.classList.toggle('hidden');

      const categoryOpenBtn = item.querySelector('.category-open-btn');
      const categoryCloseBtn = item.querySelector('.category-close-btn');

      if (child.classList.contains('hidden')) {
        categoryCloseBtn.classList.remove('hidden');
        categoryOpenBtn.classList.add('hidden')
      } else {
        categoryCloseBtn.classList.add('hidden');
        categoryOpenBtn.classList.remove('hidden')
      }
    });
  });

</script>

{% endblock %}
