{% extends 'product_base.html' %}

{% block title %}Product - Summary{% endblock %}
{% block product_content %}

<div class="flex flex-col">
  <div class="flex flex-col">
    <h2 class="text-2xl font-semibold tracking-tight text-gray-900">About OpenUnited Product Factory</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-10 mt-3">
      <div class="flex flex-col w-full">
        <div class="flex flex-col md:gap-y-2.5 text-sm leading-6 text-gray-500 pr-10 md:pr-0">
          <div id="myContent" class="overflow-hidden line-clamp-3">
            <p>Open-source software (OSS) has been one of the quietest revolutions in history. The incredible victory of
              OSS over proprietary software has been invisible to the majority of the world’s population. OSS is still not
              understood by most people - despite its tremendous success since the early 1980s and explosion since the
              early 2000s.</p>
          </div>
          <button id="show-more" class="transition-all delay-600 text-blue-400 mr-auto text-xs">Show more</a>
        </div>
      </div>
      <div class="w-full h-[200px]">
        <iframe width="100%" height="100%"
          src="https://www.youtube.com/embed/OWXVryhdoVA?autoplay=0&mute=0&controls=0&origin=https%3A%2F%2Fopenunited.com&playsinline=1&showinfo=0&rel=0&iv_load_policy=3&modestbranding=1&enablejsapi=1&widgetid=1"
          title="OpenUnited Short Explainer Contributor Focus" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

{% endblock %}
