{% extends 'product_base.html' %}

{% block title %}Product - Summary{% endblock %}
{% block product_content %}

<div class="flex flex-col">
  <div class="flex flex-col">
    <h2 class="text-xl md:text-2xl font-semibold tracking-tight text-gray-900">About OpenUnited Product Factory</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-10 mt-3">
      <div class="flex flex-col w-full">
        <div class="flex flex-col gap-y-1.5 md:gap-y-2.5 text-sm leading-6 text-gray-700 pr-10 md:pr-0">
          <div id="myContent" class="overflow-hidden line-clamp-3">
            <p>Open-source software (OSS) has been one of the quietest revolutions in history. The incredible victory of
              OSS over proprietary software has been invisible to the majority of the world’s population. OSS is still
              not
              understood by most people - despite its tremendous success since the early 1980s and explosion since the
              early 2000s.</p>
          </div>
          <button id="show-more"
            class="transition-all delay-600 text-blue-400 hover:text-blue-400/[0.85] mr-auto text-xs">Show more</a>
        </div>
      </div>
      <div class="w-full h-[200px]">
        <iframe width="100%" height="100%"
          src="https://www.youtube.com/embed/OWXVryhdoVA?autoplay=0&mute=0&controls=0&origin=https%3A%2F%2Fopenunited.com&playsinline=1&showinfo=0&rel=0&iv_load_policy=3&modestbranding=1&enablejsapi=1&widgetid=1"
          title="OpenUnited Short Explainer Contributor Focus" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="flex border-y border-solid border-gray-300 mt-3 mb-4 pt-4 pb-5 font-semibold text-sm md:text-base">
    <a href="#" class="transition-all delay-600 text-blue-400 hover:text-blue-400/[0.85]">3 Available Challenges</a>
  </div>
  <div class="">
    <h3 class="text-xl text-gray-900">Product Tree</h3>
    <form class="mt-4 mb-7 flex items-center">
      <input type="text" name="search-field" id="search-field"
        class="block w-full sm:max-w-[200px] rounded-l-md border-0 py-1.5 px-3 text-gray-900 text-sm shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus-visible:outline-none sm:text-sm sm:leading-6 h-9"
        placeholder="Search text">
      <button type="submit"
        class="inline-flex items-center justify-center rounded-r-md bg-blue-400 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-400/[0.85] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-400/[0.85] sm:mt-0 w-auto h-9 transition-all delay-600">
        <svg viewBox="64 64 896 896" focusable="false" data-icon="search" width="1em" height="1em" fill="currentColor"
          aria-hidden="true">
          <path
            d="M909.6 854.5L649.9 594.8C690.2 542.7 712 479 712 412c0-80.2-31.3-155.4-87.9-212.1-56.6-56.7-132-87.9-212.1-87.9s-155.5 31.3-212.1 87.9C143.2 256.5 112 331.8 112 412c0 80.1 31.3 155.5 87.9 212.1C256.5 680.8 331.8 712 412 712c67 0 130.6-21.8 182.7-62l259.7 259.6a8.2 8.2 0 0011.6 0l43.6-43.5a8.2 8.2 0 000-11.6zM570.4 570.4C528 612.7 471.8 636 412 636s-116-23.3-158.4-65.6C211.3 528 188 471.8 188 412s23.3-116.1 65.6-158.4C296 211.3 352.2 188 412 188s116.1 23.2 158.4 65.6S636 352.2 636 412s-23.3 116.1-65.6 158.4z">
          </path>
        </svg>
      </button>
    </form>

    <!-- START some part of page from https://openunited.com/meta/openunited-product-factory as version for review -->
    <div class="flex flex-col">
      <div class="flow-root">
        <div class="-my-2 overflow-x-auto">
          <div class="inline-block min-w-full py-2 align-middle">
            <div class="flex flex-col mb-3 space-y-1.5">
              <div class="inline-flex items-center text-xs text-gray-500">
                <span class="text-blue-400 pr-1.5 whitespace-nowrap">**</span> - Subcategory of Product Tree, which have additional Subcategories, which u can find in table with bold font
              </div>
              <div class="inline-flex items-center text-xs text-gray-500">
                <span class="text-sm text-gray-900 pr-1.5 font-bold whitespace-nowrap">Any title</span> - Category / Subcategory in Product Tree, which show additional subcategories in it
              </div>
            </div>
            <table class="min-w-full">
              <tbody class="bg-white">
                <tr class="border-t border-gray-200">
                  <th colspan="5" scope="colgroup"
                    class="bg-gray-50 py-2 pl-4 pr-3 text-left text-sm text-gray-900 sm:pl-3">
                    <a href="#">Account management</a>
                  </th>
                </tr>
                <tr class="border-t border-gray-300">
                  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm text-gray-500 sm:pl-3">
                    <a href="#">Sign up</a>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                    <a href="#">User onboarding</a>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                    <a href="#">Profile <span class="text-blue-400">**</span></a>
                  </td>
                </tr>
                <tr class="border-t border-gray-200">
                  <th colspan="5" scope="colgroup"
                    class="bg-gray-50 py-2 pl-4 pr-3 text-left text-sm text-gray-900 sm:pl-3">
                    <span class="flex items-center">
                      <a href="#" class="opacity-60">Account management</a> 
                      <span>
                        <svg class="h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" fill="#111827" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                        </svg>
                      </span>
                      <a href="#">Profile</a> 
                    </span>
                  </th>
                </tr>
                <tr class="border-t border-gray-300">
                  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm text-gray-500 sm:pl-3">
                    <a href="#">Personal details</a>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                    <a href="#">Contributions</a>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                    <a href="#">Status</a>
                  </td>
                </tr>
                <tr class="border-t border-gray-200">
                  <th colspan="5" scope="colgroup"
                    class="bg-gray-50 py-2 pl-4 pr-3 text-left text-sm text-gray-900 sm:pl-3">
                    <a href="#">Product management</a>
                  </th>
                </tr>
                <tr class="border-t border-gray-300">
                  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm text-gray-500 sm:pl-3">
                    <a href="#">Create and manage product</a>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                    <a href="#">Discover work</a>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                    <a href="#">Product summary</a>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                    <a href="#">Product Tree <span class="text-blue-400">**</span></a>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                    <a href="#">Initiatives</a>
                  </td>
                </tr>
                <tr class="border-t border-gray-300">
                  <td class="whitespace-nowrap px-3 py-4 pl-4 text-sm text-gray-500 sm:pl-3">
                    <a href="#">Task <span class="text-blue-400">**</span></a>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                    <a href="#">Product Setting <span class="text-blue-400">**</span></a>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                    <a href="#">Product People</a>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                    <a href="#">Ideas & Bugs</a>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                    <a href="#">Guidelines <span class="text-blue-400">**</span></a>
                  </td>
                </tr>
                <tr class="border-t border-gray-300">
                  <td class="whitespace-nowrap px-3 py-4 pl-4 text-sm text-gray-500 sm:pl-3">
                    <a href="#">Legal <span class="text-blue-400">**</span></a>
                  </td>
                </tr>
                <tr class="border-t border-gray-200">
                  <th colspan="5" scope="colgroup"
                    class="bg-gray-50 py-2 pl-4 pr-3 text-left text-sm text-gray-900 sm:pl-3">
                    <span class="flex items-center">
                      <a href="#" class="opacity-60">Product management</a> 
                      <span>
                        <svg class="h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" fill="#111827" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                        </svg>
                      </span>
                      <a href="#">Product Tree</a> 
                    </span>
                  </th>
                </tr>
                <tr class="border-t border-gray-300">
                  <td class="whitespace-nowrap px-3 py-4 pl-4 text-sm text-gray-500 sm:pl-3">
                    <a href="#">Capabilities</a>
                  </td>
                </tr>
                <tr class="border-t border-gray-200">
                  <th colspan="5" scope="colgroup"
                    class="bg-gray-50 py-2 pl-4 pr-3 text-left text-sm text-gray-900 sm:pl-3">
                    <span class="flex items-center">
                      <a href="#" class="opacity-60">Product management</a> 
                      <span>
                        <svg class="h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" fill="#111827" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                        </svg>
                      </span>
                      <a href="#">Task</a> 
                    </span>
                  </th>
                </tr>
                <tr class="border-t border-gray-300">
                  <td class="whitespace-nowrap px-3 py-4 pl-4 text-sm text-gray-500 sm:pl-3">
                    <a href="#">Task claim <span class="text-blue-400">**</span></a>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 pl-4 text-sm text-gray-500 sm:pl-3">
                    <a href="#">Contribution <span class="text-blue-400">**</span></a>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 pl-4 text-sm text-gray-500 sm:pl-3">
                    <a href="#">Contribution destination</a>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 pl-4 text-sm text-gray-500 sm:pl-3">
                    <a href="#">Comments <span class="text-blue-400">**</span></a>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 pl-4 text-sm text-gray-500 sm:pl-3">
                    <a href="#">Task management</a>
                  </td>
                </tr>
                <tr class="border-t border-gray-200">
                  <th colspan="5" scope="colgroup"
                    class="bg-gray-50 py-2 pl-4 pr-3 text-left text-sm text-gray-900 sm:pl-3">
                    <span class="flex items-center">
                      <a href="#" class="opacity-60">Product management</a> 
                      <span>
                        <svg class="h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" fill="#111827" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                        </svg>
                      </span>
                      <a href="#" class="opacity-60">Task</a> 
                      <span>
                        <svg class="h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" fill="#111827" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                        </svg>
                      </span>
                      <a href="#">Task claim</a> 
                    </span>
                  </th>
                </tr>
                <tr class="border-t border-gray-300">
                  <td class="whitespace-nowrap px-3 py-4 pl-4 text-sm text-gray-500 sm:pl-3">
                    <a href="#">Request a task claim</a>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 pl-4 text-sm text-gray-500 sm:pl-3">
                    <a href="#">Withdraw task claim </br>(Quit task)</a>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 pl-4 text-sm text-gray-500 sm:pl-3">
                    <a href="#">Review task claim <span class="text-blue-400">**</span></a>
                  </td>
                </tr>
                <tr class="border-t border-gray-200">
                  <th colspan="5" scope="colgroup"
                    class="bg-gray-50 py-2 pl-4 pr-3 text-left text-sm text-gray-900 sm:pl-3">
                    <span class="flex flex-nowrap items-center">
                      <a href="#" class="opacity-60">Product management</a> 
                      <span>
                        <svg class="h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" fill="#111827" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                        </svg>
                      </span>
                      <a href="#" class="opacity-60">Task</a> 
                      <span>
                        <svg class="h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" fill="#111827" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                        </svg>
                      </span>
                      <a href="#" class="opacity-60">Task claim</a> 
                      <span>
                        <svg class="h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" fill="#111827" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                        </svg>
                      </span>
                      <a href="#" class="">Review task claim</a> 
                    </span>
                  </th>
                </tr>
                <tr class="border-t border-gray-300">
                  <td class="whitespace-nowrap px-3 py-4 pl-4 text-sm text-gray-500 sm:pl-3">
                    <a href="#">Accept task claim request</a>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 pl-4 text-sm text-gray-500 sm:pl-3">
                    <a href="#">Reject task claim request</a>
                  </td>
                </tr>
                <tr class="border-t border-gray-200">
                  <th colspan="5" scope="colgroup"
                    class="bg-gray-50 py-2 pl-4 pr-3 text-left text-sm text-gray-900 sm:pl-3">
                    <span class="flex flex-nowrap items-center">
                      <a href="#" class="opacity-60">Product management</a> 
                      <span>
                        <svg class="h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" fill="#111827" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                        </svg>
                      </span>
                      <a href="#" class="opacity-60">Task</a> 
                      <span>
                        <svg class="h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" fill="#111827" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                        </svg>
                      </span>
                      <a href="#">Contribution</a> 
                    </span>
                  </th>
                </tr>
                <tr class="border-t border-gray-300">
                  <td class="whitespace-nowrap px-3 py-4 pl-4 text-sm text-gray-500 sm:pl-3">
                    <a href="#">Submit contibution</a>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 pl-4 text-sm text-gray-500 sm:pl-3">
                    <a href="#">Review contribution <span class="text-blue-400">**</span></a>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 pl-4 text-sm text-gray-500 sm:pl-3">
                    <a href="#">Delivery Message</a>
                  </td>
                </tr>
                <tr class="border-t border-gray-200">
                  <th colspan="5" scope="colgroup"
                    class="bg-gray-50 py-2 pl-4 pr-3 text-left text-sm text-gray-900 sm:pl-3">
                    <span class="flex flex-nowrap items-center">
                      <a href="#" class="opacity-60">Product management</a> 
                      <span>
                        <svg class="h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" fill="#111827" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                        </svg>
                      </span>
                      <a href="#" class="opacity-60">Task</a> 
                      <span>
                        <svg class="h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" fill="#111827" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                        </svg>
                      </span>
                      <a href="#" class="opacity-60">Contribution</a> 
                      <span>
                        <svg class="h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" fill="#111827" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                        </svg>
                      </span>
                      <a href="#">Review contribution</a> 
                    </span>
                  </th>
                </tr>
                <tr class="border-t border-gray-300">
                  <td class="whitespace-nowrap px-3 py-4 pl-4 text-sm text-gray-500 sm:pl-3">
                    <a href="#">Accept contribution</a>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 pl-4 text-sm text-gray-500 sm:pl-3">
                    <a href="#">Reject contribution</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- END some part of page from https://openunited.com/meta/openunited-product-factory as version for review -->

  </div>
</div>

<script>
  const showMoreButton = document.getElementById('show-more');
  const contentElement = document.getElementById('myContent');
  
  showMoreButton.addEventListener('click', function () {
    if (contentElement.classList.contains('line-clamp-3')) {
      contentElement.classList.remove('line-clamp-3');
      showMoreButton.textContent = 'Show less';
    } else {
      contentElement.classList.add('line-clamp-3');
      showMoreButton.textContent = 'Show more';
    }
  });
</script>

{% endblock %}
