{% extends 'base.html' %}
{% block title %}Homepage - Splash{% endblock %}
{% block content %}

<div class="flex flex-col flex-grow">
    <div class="px-4 sm:px-0">
        <h3 class="text-base font-semibold leading-7 text-gray-900">List of all pages</h3>
    </div>
    <div class="mt-6 border-t border-gray-100">
        <dl class="divide-y divide-gray-100">
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">Homepage</dt>
                <dd class="mt-1 flex text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                    <span class="flex flex-col flex-grow">
                        <span class="flex">
                            <span class="flex-grow">
                                <a href="{{ url_for('home_splash') }}"
                                    class="hover:text-indigo-500 transition-all delay-600">Splash</a>
                            </span>
                            <span class="ml-4 flex-shrink-0">
                                <div class="rounded-md bg-white font-medium text-green-600">
                                    Done
                                </div>
                            </span>
                        </span>
                        <span class="flex">
                            <span class="flex-grow">
                                <a href="{{ url_for('home_challenges') }}"
                                    class="hover:text-indigo-500 transition-all delay-600">Challenges Tab Active</a>
                            </span>
                            <span class="ml-4 flex-shrink-0">
                                <div class="rounded-md bg-white font-medium text-green-600">
                                    Done
                                </div>
                            </span>
                        </span>
                        <span class="flex">
                            <span class="flex-grow">
                                <a href="{{ url_for('home_products') }}"
                                    class="hover:text-indigo-500 transition-all delay-600">Products Tab Active</a>
                            </span>
                            <span class="ml-4 flex-shrink-0">
                                <div class="rounded-md bg-white font-medium text-green-600">
                                    Done
                                </div>
                            </span>
                        </span>

                    </span>
                </dd>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">Product</dt>
                <dd class="mt-1 flex text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                    <span class="flex flex-col flex-grow">
                        <span class="flex">
                            <span class="flex-grow">
                                <a href="{{url_for('product_summary')}}"
                                    class="hover:text-indigo-500 transition-all delay-600">Summary</a>
                            </span>
                            <span class="ml-4 flex-shrink-0">
                                <div class="rounded-md bg-white font-medium text-green-600">
                                    Done
                                </div>
                            </span>
                        </span>
                        <span class="flex">
                            <span class="flex-grow">
                                <a href="{{url_for('product_initiatives')}}"
                                    class="hover:text-indigo-500 transition-all delay-600">Initiatives</a>
                            </span>
                            <span class="ml-4 flex-shrink-0">
                                <div class="rounded-md bg-white font-medium text-green-600">
                                    Done
                                </div>
                            </span>
                        </span>
                        <span class="flex">
                            <span class="flex-grow">
                                <a href="{{url_for('product_challenges')}}"
                                    class="hover:text-indigo-500 transition-all delay-600">Challenges</a>
                            </span>
                            <span class="ml-4 flex-shrink-0">
                                <div class="rounded-md bg-white font-medium text-yellow-600">
                                    Draft
                                </div>
                            </span>
                        </span>
                        <span class="flex">
                            <span class="flex-grow">
                                <a href="{{url_for('product_product_tree')}}"
                                    class="hover:text-indigo-500 transition-all delay-600">Product Tree (Capability
                                    Detail)</a>
                            </span>
                            <span class="ml-4 flex-shrink-0">
                                <div class="rounded-md bg-white font-medium text-green-600">
                                    Done
                                </div>
                            </span>
                        </span>
                        <span class="flex">
                            <span class="flex-grow">
                                <a href="{{url_for('product_product_tree_interactive')}}"
                                    class="hover:text-indigo-500 transition-all delay-600">Product Tree-Interactive</a>
                            </span>
                            <span class="ml-4 flex-shrink-0">
                                <div class="rounded-md bg-white font-medium text-green-600">
                                    In progress
                                </div>
                            </span>
                        </span>
                        <span class="flex">
                            <span class="flex-grow">
                                <a href="{{url_for('product_product_area_detail')}}"
                                    class="hover:text-indigo-500 transition-all delay-600">Product Area Detail</a>
                            </span>
                            <span class="ml-4 flex-shrink-0">
                                <div class="rounded-md bg-white font-medium text-green-600">
                                    In progress
                                </div>
                            </span>
                        </span>
                        <span class="flex">
                            <span class="flex-grow">
                                <a href="{{url_for('product_ideas_bugs')}}"
                                    class="hover:text-indigo-500 transition-all delay-600">Ideas & Bugs</a>
                            </span>
                            <span class="ml-4 flex-shrink-0">
                                <div class="rounded-md bg-white font-medium text-green-600">
                                    Done
                                </div>
                            </span>
                        </span>
                        <span class="flex">
                            <span class="flex-grow">
                                <a href="{{url_for('product_people')}}"
                                    class="hover:text-indigo-500 transition-all delay-600">People</a>
                            </span>
                            <span class="ml-4 flex-shrink-0">
                                <div class="rounded-md bg-white font-medium text-green-600">
                                    Done
                                </div>
                            </span>
                        </span>
                    </span>
                </dd>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">Challenge Authoring Flows</dt>
                <dd class="mt-1 flex text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                    <span class="flex flex-col flex-grow">
                        <span class="flex">
                            <span class="flex-grow">
                                <a href="{{ url_for('challenges_steps') }}"
                                    class="hover:text-indigo-500 transition-all delay-600">Steps</a>
                            </span>
                            <span class="ml-4 flex-shrink-0">
                                <div class="rounded-md bg-white font-medium text-green-600">
                                    Done
                                </div>
                            </span>
                        </span>
                    </span>
                </dd>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">Create User Profile</dt>
                <dd class="mt-1 flex text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                    <span class="flex flex-col flex-grow">
                        <span class="flex">
                            <span class="flex-grow">
                                <a href="{{ url_for('profile_empty') }}"
                                    class="hover:text-indigo-500 transition-all delay-600">Empty State</a>
                            </span>
                            <span class="ml-4 flex-shrink-0">
                                <div class="rounded-md bg-white font-medium text-green-600">
                                    Done
                                </div>
                            </span>
                        </span>
                        <span class="flex">
                            <span class="flex-grow">
                                <a href="{{ url_for('profile') }}"
                                    class="hover:text-indigo-500 transition-all delay-600">Filled State</a>
                            </span>
                            <span class="ml-4 flex-shrink-0">
                                <div class="rounded-md bg-white font-medium text-green-600">
                                    Done
                                </div>
                            </span>
                        </span>
                    </span>
                </dd>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">User</dt>
                <dd class="mt-1 flex text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                    <span class="flex flex-col flex-grow">
                        <span class="flex">
                            <span class="flex-grow">
                                <a href="{{ url_for('user_sign_up') }}"
                                    class="hover:text-indigo-500 transition-all delay-600">Sign Up</a>
                            </span>
                            <span class="ml-4 flex-shrink-0">
                                <div class="rounded-md bg-white font-medium text-green-600">
                                    Done
                                </div>
                            </span>
                        </span>
                        <span class="flex">
                            <span class="flex-grow">
                                <a href="{{ url_for('user_sign_in') }}"
                                    class="hover:text-indigo-500 transition-all delay-600">Sign In</a>
                            </span>
                            <span class="ml-4 flex-shrink-0">
                                <div class="rounded-md bg-white font-medium text-green-600">
                                    Done
                                </div>
                            </span>
                        </span>
                        <span class="flex">
                            <span class="flex-grow">
                                <a href="{{ url_for('user_password_reset') }}"
                                    class="hover:text-indigo-500 transition-all delay-600">Reset Password</a>
                            </span>
                            <span class="ml-4 flex-shrink-0">
                                <div class="rounded-md bg-white font-medium text-green-600">
                                    Done
                                </div>
                            </span>
                        </span>
                    </span>
                </dd>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">Talent</dt>
                <dd class="mt-1 flex text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                    <span class="flex flex-col flex-grow">
                        <span class="flex">
                            <span class="flex-grow">
                                <a href="{{ url_for('portfolio_figma') }}"
                                    class="hover:text-indigo-500 transition-all delay-600">Portfolio (Figma Design)</a>
                            </span>
                            <span class="ml-4 flex-shrink-0">
                                <div class="rounded-md bg-white font-medium text-green-600">
                                    Done
                                </div>
                            </span>
                        </span>
                        <span class="flex">
                            <span class="flex-grow">
                                <a href="{{ url_for('portfolio_clients') }}"
                                    class="hover:text-indigo-500 transition-all delay-600">Portfolio (For clients)</a>
                            </span>
                            <span class="ml-4 flex-shrink-0">
                                <div class="rounded-md bg-white font-medium text-green-600">
                                    Done
                                </div>
                            </span>
                        </span>
                        <span class="flex">
                            <span class="flex-grow">
                                <a href="{{ url_for('portfolio') }}"
                                    class="hover:text-indigo-500 transition-all delay-600">Portfolio (For devs)</a>
                            </span>
                            <span class="ml-4 flex-shrink-0">
                                <div class="rounded-md bg-white font-medium text-green-600">
                                    Done
                                </div>
                            </span>
                        </span>
                        <span class="flex">
                            <span class="flex-grow">
                                <a href="{{ url_for('status_and_points') }}"
                                    class="hover:text-indigo-500 transition-all delay-600">Status & Points</a>
                            </span>
                            <span class="ml-4 flex-shrink-0">
                                <div class="rounded-md bg-white font-medium text-green-600">
                                    Done
                                </div>
                            </span>
                        </span>
                    </span>
                </dd>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">Bounties</dt>
                <dd class="mt-1 flex text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                    <span class="flex flex-col flex-grow">
                        <span class="flex">
                            <span class="flex-grow">
                                <a href="{{ url_for('challenge_detail_page') }}" class="hover:text-indigo-500 transition-all delay-600">Claim Flow</a>
                            </span>
                            <span class="ml-4 flex-shrink-0">
                                <div class="rounded-md bg-white font-medium text-yellow-600">
                                   Draft
                                </div>
                            </span>
                        </span>

                        <span class="flex">
                            <span class="flex-grow">
                                <a href="{{ url_for('work_submissions') }}" class="hover:text-indigo-500 transition-all delay-600">Work Submission</a>
                            </span>
                            <span class="ml-4 flex-shrink-0">
                                <div class="rounded-md bg-white font-medium text-yellow-600">
                                    Draft
                                </div>
                            </span>
                        </span>

                        <span class="flex">
                            <span class="flex-grow">
                                <a href="{{ url_for('bounty_detail') }}" class="hover:text-indigo-500 transition-all delay-600">Bounty detail</a>
                            </span>
                            <span class="ml-4 flex-shrink-0">
                                <div class="rounded-md bg-white font-medium text-yellow-600">
                                    Draft
                                </div>
                            </span>
                        </span>
                        
                    </span>
                </dd>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">Review Submission</dt>
                <dd class="mt-1 flex text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                    <span class="flex flex-col flex-grow">
                        <span class="flex">
                            <span class="flex-grow">
                                <a href="{{ url_for('review_submissions') }}" class="hover:text-indigo-500 transition-all delay-600">Flow</a>
                            </span>
                            <span class="ml-4 flex-shrink-0">
                                <div class="rounded-md bg-white font-medium text-yellow-600">
                                    Draft
                                </div>
                            </span>
                        </span>
                    </span>
                </dd>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">Join Project</dt>
                <dd class="mt-1 flex text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                    <span class="flex flex-col flex-grow">
                        <span class="flex">
                            <span class="flex-grow">
                                <a href="{{ url_for('home_splash') }}"
                                    class="hover:text-indigo-500 transition-all delay-600">Page</a>
                            </span>
                            <span class="ml-4 flex-shrink-0">
                                <div class="rounded-md bg-white font-medium text-red-600">
                                    Not started
                                </div>
                            </span>
                        </span>
                    </span>
                </dd>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">Tables</dt>
                <dd class="mt-1 flex text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                    <span class="flex flex-col flex-grow">
                        <span class="flex">
                            <span class="flex-grow">
                                <a href="{{ url_for('bounty_claim_requests_table') }}"
                                    class="hover:text-indigo-500 transition-all delay-600">Bounty Claim Request Table</a>
                            </span>
                            <span class="ml-4 flex-shrink-0">
                                <div class="rounded-md bg-white font-medium text-green-600">
                                    Done
                                </div>
                            </span>
                        </span>
                    </span>
                </dd>
            </div>
        </dl>
    </div>
</div>

{% endblock %}