<ul>
    <li>Homepage
        <ul>
            <li><a href="{{ url_for('home_splash') }}">Splash</a></li>
            <li><a href="{{ url_for('home_challenges') }}">Challenges Tab Active</a></li>
            <li><a href="{{ url_for('home_products') }}">Products Tab Active</a></li>
        </ul>
    </li>
    <li>Product
        <ul>
            <li><a href="{{url_for('product_summary')}}">Summary</a></li>
            <li><a href="{{url_for('product_initiatives')}}">Initiatives</a></li>
            <li><a href="{{url_for('product_challenges')}}">Challenges</a></li>
            <li><a href="{{url_for('product_product_tree')}}">Product Tree</a></li>
            <li><a href="{{url_for('product_ideas_bugs')}}">Ideas & Bugs</a></li>
            <li><a href="{{url_for('product_people')}}">People</a></li>
        </ul>
    </li>
    <li>Bounties
        <ul>
            <li>Claim Flow</li>
            <li>Work Submission</li>
        </ul>
    </li>
    <li>Review Submission
        <ul>
            <li>Flow</li>
        </ul>
    </li>
    <li>Talent
        <ul>
            <li>Portfolio</li>
        </ul>
    </li>
    <li>User
        <ul>
            <li>Sign Up</li>
            <li>Sign In</li>
            <li>Reset Password</li>
        </ul>
    </li>
</ul>