<ul>
    <li>Homepage
        <ul>
            <li><a href="{{ url_for('home') }}">Challenges Tab Active (Default)</a></li>
            <li><a href="{{ url_for('home_products') }}">Products Tab Active</a></li>
        </ul>
    </li>
    <li>Product
        <ul>
            <li>Summary</li>
            <li>Initiatives</li>
            <li>Challenges</li>
            <li>Product Tree</li>
            <li>Ideas & Bugs</li>
            <li>People</li>
        </ul>
    </li>
    <li>Bounties
        <ul>
            <li>Claim Flow</li>
            <li>Work Submission</li>
        </ul>
    </li>
    <li>Review Submission
        <ul>
            <li>Flow</li>
        </ul>
    </li>
    <li>Talent
        <ul>
            <li>Portfolio</li>
        </ul>
    </li>
    <li>User
        <ul>
            <li>Sign Up</li>
            <li>Sign In</li>
            <li>Reset Password</li>
        </ul>
    </li>
</ul>