<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- tailwind version 3.3.2 -->
  <script src="https://cdn.tailwindcss.com?plugins=line-clamp"></script>
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="stylesheet" href="/static/assets/styles/styles.css">

  <title>
    Sign In OpenUnited
  </title>
</head>

<body>

  <div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <img class="mx-auto h-10 w-auto" src="/static/assets/images/logo.svg" alt="Your Company">
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
      <div class="bg-white px-6 py-12 sm:shadow sm:rounded-lg sm:px-12" data-user-steps="1">

        <div class="mb-10 flex relative items-start">
          <div class="active register-step flex items-center" data-user-step="1">
            <div class="user-step-name flex flex-col items-center justify-center space-y-1.5 text-center">
              <div class="w-10 h-10 flex items-center justify-center rounded-full">
                <div class="empty w-full rounded-full h-full border-2 border-solid border-[#bfbfbf] text-[#bfbfbf] text-sm flex items-center justify-center">1</div>
                <div class="filled w-full h-full rounded-full text-white bg-[#1890FF] flex items-center justify-center text-sm">1</div>
                <div class="done w-full h-full rounded-full border-2 border-solid border-[#1890FF] flex items-center justify-center">
                  <img src="/static/assets/images/check.svg" alt="#">
                </div>
              </div>
              <div class="user-step-title text-xs text-[#1890FF] whitespace-nowrap">
                Name & Email
              </div>
            </div>
          </div>
          <div class="user-step-divider user-step-divider-1 h-0.5 w-full w-full mx-1 sm:mx-4 relative top-4 -mt-px inline-flex"></div>
          <div class="register-step flex items-center" data-user-step="2">
            <div class="user-step-name flex flex-col items-center justify-center space-y-1.5 text-center">
              <div class="w-10 h-10 flex items-center justify-center rounded-full">
                <div class="empty w-full h-full rounded-full border-2 border-solid border-[#bfbfbf] text-[#bfbfbf] text-sm flex items-center justify-center">2</div>
                <div class="filled w-full h-full rounded-full text-white bg-[#1890FF] flex items-center justify-center text-sm">2</div>
                <div class="done w-full h-full rounded-full border-2 border-solid border-[#1890FF] flex items-center justify-center">
                  <img src="/static/assets/images/check.svg" alt="#">
                </div>
              </div>
              <div class="user-step-title text-xs text-[#bfbfbf] whitespace-nowrap">
                Email </br>Verification
              </div>
            </div>
          </div>
          <div class="user-step-divider user-step-divider-2 h-0.5 w-full w-full mx-1 sm:mx-4 relative top-4 -mt-px inline-flex"></div>
          <div class="register-step flex items-center" data-user-step="3">
            <div class="user-step-name flex flex-col items-center justify-center space-y-1.5 text-center">
              <div class="w-10 h-10 flex items-center justify-center rounded-full">
                <div class="empty w-full h-full rounded-full border-2 border-solid border-[#bfbfbf] text-[#bfbfbf] text-sm flex items-center justify-center">3</div>
                <div class="filled w-full h-full rounded-full text-white bg-[#1890FF] flex items-center justify-center text-sm">3</div>
                <div class="done w-full h-full rounded-full border-2 border-solid border-[#1890FF] flex items-center justify-center">
                  <img src="/static/assets/images/check.svg" alt="#">
                </div>
              </div>
              <div class="user-step-title text-xs text-[#bfbfbf] whitespace-nowrap">
                Username </br>& Password
              </div>
            </div>
          </div>
        </div>

        <form class="mb-0" action="#" method="POST">
          <div class="active register-content flex-col" data-user-content="1">
            <div class="max-w-full w-full text-center mx-auto text-sm text-black/[0.85] mb-8 underline underline-offset-2">
              Let's start with your first name and email address.
            </div>
            <div class="space-y-6 mb-0">
              <div class="w-fit mx-auto flex items-center px-3 py-1.5 py-2.5 rounded-md border border-solid border-[#F5222D] text-sm text-black/[0.85] bg-[#f5222d]/[0.08]">
                <span class="w-4 h-4 flex shrink-0 items-center justify-center mr-3">
                  <img src="/static/assets/images/error.svg" alt="#">
                </span>
                That email isn't available, please try another
              </div>
              <div>
                <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">First Name</label>
                <div class="mt-2">
                  <input id="first-name" name="first-name" type="text" autocomplete="first-name" required class="block w-full rounded-md border-0 py-1.5 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-gray-300 sm:text-sm sm:leading-6 focus-visible:outline-transparent">
                </div>
              </div>
    
              <div>
                <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
                <div class="mt-2">
                  <input id="email" name="email" type="email" autocomplete="email" required class="block w-full rounded-md border-0 py-1.5 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-gray-300 sm:text-sm sm:leading-6 focus-visible:outline-transparent">
                </div>
              </div>
    
              <div>
                <button data-btn="1" type="button" class="flex w-full justify-center rounded-md bg-[#1890ff] px-3 py-2.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#1890ff]">Send Verification Code</button>
              </div>
            </div>
          </div>
          <div class="register-content flex-col" data-user-content="2">
            <div class="space-y-6 mb-0">
              <div class="w-fit mx-auto text-center flex items-center px-3 py-1.5 py-2.5 rounded-md border border-solid border-[#1890ff] text-sm text-black/[0.85] bg-[#e6f7ff]">
                Please check your email for six-digit code
              </div>

              <div class="flex flex-col">
                <div class="text-sm text-black/[0.85] mb-2">
                  Six-digit code
                </div>
                <div class="flex items-center justify-between w-full">
                  <input id="0" class="appearance-none w-10 h-10 p-0.5 rounded-md bg-white border border-solid border-[#d9d9d9] focus:outline-none" type="number">
                  <input id="1" class="appearance-none w-10 h-10 p-0.5 rounded-md bg-white border border-solid border-[#d9d9d9] focus:outline-none" type="number">
                  <input id="2" class="appearance-none w-10 h-10 p-0.5 rounded-md bg-white border border-solid border-[#d9d9d9] focus:outline-none" type="number">
                  <input id="3" class="appearance-none w-10 h-10 p-0.5 rounded-md bg-white border border-solid border-[#d9d9d9] focus:outline-none" type="number">
                  <input id="4" class="appearance-none w-10 h-10 p-0.5 rounded-md bg-white border border-solid border-[#d9d9d9] focus:outline-none" type="number">
                  <input id="5" class="appearance-none w-10 h-10 p-0.5 rounded-md bg-white border border-solid border-[#d9d9d9] focus:outline-none" type="number">
                </div>
              </div>
    
              <div>
                <div class="flex items-center text-sm text-black/[0.85] relative mb-2">
                  Didn’t recieve the code? <a class="font-semibold leading-6 text-[#1890ff] hover:text-blue-500 inline-flex items-center ml-1.5" href="#">Resend it</a>
                </div>
                <button data-btn="1" type="button" class="flex w-full justify-center rounded-md bg-[#1890ff] px-3 py-2.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#1890ff]">Verify</button>
              </div>
            </div>
          </div>
          <div class="register-content flex-col" data-user-content="3">
            <div class="space-y-6 mb-0">
              <div class="w-fit mx-auto text-center flex items-center px-3 py-1.5 py-2.5 rounded-md border border-solid border-[#00B400] text-sm text-black/[0.85] bg-[#DBFFDB]">
                Email verified! Please set your username and password.
              </div>

              <div>
                <label for="username" class="block text-sm font-medium leading-6 text-gray-900">Choose username</label>
                <div class="mt-2">
                  <input id="username" name="username" type="text" autocomplete="username" required class="block w-full rounded-md border-0 py-1.5 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-gray-300 sm:text-sm sm:leading-6 focus-visible:outline-transparent">
                </div>
              </div>
    
              <div>
                <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
                <div class="mt-2">
                  <input id="password" name="password" type="password" autocomplete="password" required class="block w-full rounded-md border-0 py-1.5 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-gray-300 sm:text-sm sm:leading-6 focus-visible:outline-transparent">
                </div>

                <div class="password-checker flex flex-col mt-3">
                  <ul class="medium w-full grid grid-cols-4 gap-[3px]">
                    <li class="h-1 bg-[#c4c4c4]"></li>
                    <li class="h-1 bg-[#c4c4c4]"></li>
                    <li class="h-1 bg-[#c4c4c4]"></li>
                    <li class="h-1 bg-[#c4c4c4]"></li>
                  </ul>
                  <div class="title text-[10px] leading-3 title-medium mt-1 text-right">medium</div>
                </div>
              </div>

              <div>
                <label for="password-confirm" class="block text-sm font-medium leading-6 text-gray-900">Confirm password</label>
                <div class="mt-2">
                  <input id="password-confirm" name="password-confirm" type="password-confirm" autocomplete="password-confirm" required class="block w-full rounded-md border-0 py-1.5 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-gray-300 sm:text-sm sm:leading-6 focus-visible:outline-transparent">
                </div>
              </div>

              <div>
                <button data-btn="1" type="button" class="flex w-full justify-center rounded-md bg-[#1890ff] px-3 py-2.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#1890ff]">Submit</button>
              </div>

            </div>
          </div>
        </form>
      </div>

      <p class="mt-10 text-center text-sm text-gray-500">
        Already Have an Account?
        <a href="#" class="font-semibold leading-6 text-[#1890ff] hover:text-blue-500">Sign In</a>
      </p>
    </div>
  </div>

  <script type="module" src="/static/assets/scripts/main.js"></script>
</body>
